h1,
p {
  font-family: Lato;
}

.btn {
  margin-left: 5px;
  min-width: 27px;
  min-height: 21px;
  border: 1px solid lightgray;
  cursor: pointer;
}

.edit-button {
  background-color: rgba(64, 240, 78, 0.61);
}

.edit-button:hover {
  background-color: rgba(64, 240, 79, 0.781);
}

.delete-button {
  background-color: rgba(247, 6, 6, 0.507);
}

.delete-button:hover {
  background-color: rgba(247, 6, 6, 0.651);
}

.save-button {
  width: 75px;
  background-color: #1388fdb9;
  color: white;
}

.save-button:hover {
  background-color: #1388fde3;
  color: white;
}

.cancel-button:hover {
  background-color: rgba(212, 212, 212, 0.575);
}

li {
  margin-bottom: 10px;
}
